:root {
    --background: #707070;
    --text-color: #c9982f;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

header,
footer {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--text-color);
}


main {
    flex: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ship-area {
    padding: 1rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    max-height: max(25px, 2dvh);
    width: fit-content;
}

.ship:hover {
    background-color: aqua;
}

.ship-block {
    padding: 0.25rem;
    min-height: min(25px, 2dvh);
    min-width: min(25px, 2dvh);
    aspect-ratio: 1 / 1;
    border: 1px solid;
}


.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 2rem;
}

.grid-element {
    min-height: min(25px, 2dvh);
    min-width: min(25px, 2dvh);
    background-color: transparent;
}

.grid-element:hover {
    background-color: black;
}


footer>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

footer>a:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}


.svg {
    height: 2rem;
    width: 2rem;
    color: antiquewhite;
}